<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy-Now</title>
    <!-- css link  -->
    <link rel="stylesheet" href="css/style.css">
    <!-- bootstrap cdn  -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- favicon setup -->
    <link rel="shortcut icon" href="./images/bike-2.png" type="image/x-icon">
</head>

<body>

    <!-- preloader part start -->
    <%- include("../partials/preloader.ejs") -%> 
    <!-- preloader part end  -->
    
    <section>
        <div class="container margin-Y">
            <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center align-items-center">
                <div>
                    <img src="../images/bike-1.png" class="img-fluid" alt="headerpic">
                </div>
                <div class="mt-3 mt-md-0">
                    <h1 class="fw-bold">Honda CBR650R</h1>
                    <h2>৳ 538,000</h2>
                    <p class="my-4">Honda is one of the top motorcycle manufacturers in the world (source). It is also considered as one of the Japanese giants. The Honda CBR series, Honda Grom, Honda CB series are few of the most popular motorcycle series in the world. Due to the cubic capacity limit (cc limit) we only get bikes below 165cc in Bangladesh. This is why we get the Honda CBR 165R from the CBR series in Bangladesh..</p>
                    <a href="/" class="btn button"><i class="fas fa-shopping-cart"></i></i> Buy Now</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>